@import "style.css";
/*PC*/
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px ;
    }
}
/*TABLET*/
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
    .header__container {
        min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin: 0px 30px 0px 0px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
/*--------header-------*/
    .header__button .button {
        padding: 14px 20px;
    }
/*----------burger menu-------------*/
    .close-icon-menu,
    .icon-menu {
        position: relative;
        flex: 0 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18px;
        margin: 0px 0px 0px 20px;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }

    .icon-menu span {
        height: 2px;
        background-color: #000;
    }

    .close-icon-menu {
        display: none;
    }

    .close-icon-menu::before,
    .close-icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
        transform-origin: 0 0;
    }
    .close-icon-menu::before {
        transform: rotate(32deg);
    }
    .close-icon-menu::after {
        transform: rotate(-35deg)
    }
    .header:target .icon-menu {
        display: none;
    }
    .header:target .close-icon-menu {
        display: flex;
    }


/*  ------------menu------------------  */
    .menu__body {
        position: fixed;
        top: 0;
        left: -200%;
        width: 100%;
        height: 100%;
        background-color: #586aa2;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    .header:target .menu__body {
        left: 0;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__item {
        margin: 0px 0px 25px 0px;
    }
    .menu__item:last-child {
        margin-bottom: 0;
    }
    .menu__link {
        color: #fff;
        font-size: 20px;
    }
}

/*----SMALL MOBILE-----------*/
@media (max-width: 479.98px) {
/*--------header-------*/
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}