@import "style.css";
/*PC*/
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px ;
    }
/*   -- healthcare  -- */
    .healthcare__column {
        padding: 0px 15px;
    }
}
/*TABLET*/
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
    .header__container {
        min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin: 0px 30px 0px 0px;
    }
/*------------------get started----------*/
    .get-started__container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
/* ---------stay-safe -----------------------   */
    .stay-safe {
        padding: 40px 0;
    }

/* -----------healthcare -------------*/
    .healthcare {
        padding: 30px 0px 30px 0px;
    }
    .healthcare__items {
        flex-direction: column;
    }
    .healthcare__column:not(:last-child) {
        margin: 0px 0px 25px 0px;
    }
}

@media (min-width: 991.98px) {
    /* -------------stay-safe--------------   */
    .stay-safe__media {
        padding: 0px 0px 0px 47px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
/*--------header-------*/
    .header__button .button {
        padding: 14px 20px;
    }
/*----------burger menu-------------*/
    .icon-menu {
        position: relative;
        flex: 0 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18px;
        margin: 0px 0px 0px 20px;
    }
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }
    .icon-menu span {
        height: 2px;
        background-color: #000;
    }
    .close-icon-menu {
        flex: 0 0 30px;
        height: 30px;
        position: relative;
        margin: 0px 0px 0px 20px;
    }
    .close-icon-menu::before,
    .close-icon-menu::after {
        content: "";
        position: absolute;
        top: 50%;
        left:  0;
        width: 100%;
        background-color: #000;
        height: 2px;
    }
    .close-icon-menu::before {
        transform: rotate(45deg);
    }
    .close-icon-menu::after {
        transform: rotate(-45deg)
    }
    .header:target .icon-menu {
        display: none;
    }
    .header:target .close-icon-menu {
        display: flex;
    }
/*  ------------menu------------------  */
    .menu__body {
        position: fixed;
        top: 0;
        left: -200%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    .header:target .menu__body {
        left: 0;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__item {
        margin: 0px 0px 25px 0px;
    }
    .menu__item:last-child {
        margin-bottom: 0;
    }
    .menu__link {
        color: #000;
        font-size: 20px;
    }
    /*-----------get-started---------------*/
    .get-started__container {
        padding: 100px 15px 30px 15px;
    }
    .get-started__container::before {
        display: none;
    }
    .get-started__block-text {
        max-width: none;
        padding: 0;
    }
    .get-started__content {
        flex: 1 1 100%;
    }
    .get-started__image {
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0px;
    }
    .get-started__video {
        padding: 0;
    }
/* ----block-text------*/
    .block-text__title {
        font-size: 34px;
    }

/* -----stay-safe ---------*/
    .stay-safe__container {
        flex-direction: column-reverse;
    }
    .stay-safe__content {
        margin: 0px 0px 30px 0px;
    }
/*--------------experts----------*/
    .statistics-experts__body {
        margin: 0px 0px 50px 0px;
    }

    .body-statistics-experts {
        padding: 25px;
    }

    .experts {
        padding: 80px 0px 30px 0px;
    }
    .experts__body {
        align-items: stretch;
        flex-direction: column;
    }
    .experts__video {
        padding: 0px 0px 58% 0px;
    }
    .experts__content {
        padding: 0;
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width: 500px) {
    .footer {
        padding: 30px 0;
    }
    .footer__items {
        flex-direction: column;
    }
}

/*----SMALL MOBILE-----------*/
@media (max-width: 479.98px) {
/*--------header-------*/
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
/* -----stay-safe-------*/
    .media-stay-safe {
        width: 290px;
    }
/* -------experts--------*/
    .body-statistics-experts {
        flex-direction: column;
    }
    .body-statistics-experts__item:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
}