@import "reset.css";

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*--------------------------------------------*/

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*---------------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  flex: 1 1 auto;
}

.header__button {
  position: relative;
  z-index: 5;
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*--------------------------------*/
.menu {
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px 0px 0px;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0px 40px 0px 0px;
}

.menu__link {
  font-family: Raleway, serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.2;
  color: #000;
  letter-spacing: 0.14em;
}

.menu__link:hover {
  text-decoration: underline;
}

/*-------------------------------------------*/
.button {
  display: inline-block;
  font-family: Raleway, serif;
  font-weight: 800;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-decoration: none;
  color: #FCFDFE;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #EC5863;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #ea7b83;
}

.button_blue {
  background-color: #4285F4;
}
.button_blue:hover {
  background-color: #6798ef;
}

/*--------------------------*/
.close-icon-menu,
.icon-menu{
  display: none;
}

